<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Screen Share</title>
</head>
<body>
    <video id="localVideo" autoplay></video>
    <div id="remoteVideos"></div>
    <button id="startShare">Start Screen Share</button>
    <button id="endShare">End Screen Share</button>

    <script src="/static/js/screen_sharing.js"></script>
</body>
</html>