<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Головна сторінка</h1>
        <button id="createMeeting" class="btn">Створити нову зустріч</button>
        <button id="joinMeetingByCode" class="btn">Долучитись до відеодзвінка за кодом</button>
    </div>

    <div id="optionsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideOptions()">&times;</span>
            <h2>Приєднатись до відеодзвінка</h2>
            <p>Введіть код доступу:</p>
            <input type="text" id="meetingCode" placeholder="Код доступу"><br>
            <button onclick="joinMeetingByCode()" class="btn">Приєднатись</button>
        </div>
    </div>

    <script>
        function showOptions() {
            document.getElementById("optionsModal").style.display = "block";
        }

        function hideOptions() {
            document.getElementById("optionsModal").style.display = "none";
        }

        function createMeeting() {
            var userName = document.getElementById("userName").value;
            alert("Створюємо нову зустріч для користувача " + userName);
        }

        function joinMeetingByCode() {
            document.getElementById("optionsModal").style.display = "block";
        }

        document.getElementById('createMeeting').addEventListener('click', function() {
            alert("Створити нову зустріч");
        });

        document.getElementById('joinMeetingByCode').addEventListener('click', joinMeetingByCode);
    </script>
</body>
</html>
